* {
     margin: 0;
     box-sizing: border-box;

}

body {
     background-color: #090A0E;
     color: #fff;
}

.header-content {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     padding: 1.5rem 0;

}

.form-search {
     position: relative;
     display: flex;
}

.input-search+.button-search {
     height: 2rem;
     outline: none;
}

.input-search {
     background: #fff;
     padding: 0 5px;
     border-radius: 0.5rem;
     -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
     -ms-border-radius: 0.5rem;
     -o-border-radius: 0.5rem;
     font-size: 1.2rem;
     font-weight: bolder;
}

.button-search:hover{
cursor: pointer;
color: #fff;
}
.input-search:not(:placeholder-shown)+.button-search {
     width: calc(100% -2rem);
     display: block;
}

.button-search {
     
     display: none;
     font-size: 1rem;
     width: 5rem;
     font-weight: bold;
     font-weight: bold;
     background-color: #ffcb05;
     border-radius: 1.5rem;
     -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
     -ms-border-radius: 1.5rem;
     -o-border-radius: 1.5rem;
}

.container-movie {
     position: relative;
     min-height: 700px;
     background-position: top center;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;

}

.movie-content {
     max-width: 100%;
     padding-left: 5rem;
     padding-bottom: 3rem;
     background-color: rgba(170, 201, 255, 0.5);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
     color: #000;

}

.movie-title {
     font-size: 4rem;
     font-weight: 900;
}

.button-trailer {
     background-color: #090A0E;
     color: #fff;
     font-size: 1.5rem;
     border: 1px solid #fff;
     outline: none;
     padding: 0.5rem 0.8rem;
     cursor: pointer;

}

.button-trailer:hover {
     color: #ffcb05;
}

.close-trailer {

     position: absolute;
     z-index: 0;
     top: -48px;
     /* left: 95%; */
}

.close-trailer:hover {
     color: #ffcb05;
}

.description-movie {
     line-height: 1.5rem;
     font-size: 1.2rem;
     font-weight: 700;
}

.youtube-container {
     position: relative;
     left: 0;
     right: 10px;

}

.container-movies {
     background: rgba(255, 255, 255, 0.25);
     box-shadow: 0 14px 50px 0 rgba(31, 38, 75, 0.37);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(2px);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.18);
     display: grid;
     max-width: 1600px;
     margin: 1.2rem auto 0;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 0.5rem;
     padding: 1.5rem;
}