*{
     margin: 0;
     box-sizing: border-box;
     text-align: center;
}
.container-movies{
     display: grid;
     max-width: 1600px;
     margin: 1.2rem auto 0;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 0.5rem;
}